.err-field {
	border: 1px solid #96250E;
	padding: 0px 0px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.msg-container {
	padding: 5px 10px;
}

.err-msg {
	font-weight: bold;
}

.err-msg-link {
	color: #97250F;
	font-size: 14px;
}

.error-border {
	border-color: red !important;
}

.error-color {
	border-color: red !important;
}

.systemErrorMsg {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.2em;
	display: inline-block;
}

.systemErrorMsg li {
	float: left;
	padding-right: 7px;
}

.systemErrorMsg li, .systemErrorMsg li a {
	color: #97250F;
}

.systemErrorMsg li a:hover, .systemErrorMsg li a:focus {
	color: #2D69C1;
}

.msg-container ul {
	margin: 0;
	list-style-type: none;
	padding: 0px 0px;
}

#systemErrorTitle {
	font-size: 16px;
	font-weight: bold;
	color: #97250F;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
}

.system-msg-container {
	padding: 0px 10px;
	line-height: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
}