<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8" />
	<title>錯誤 / 错误 / Error</title> 
	<meta name="robots" content="noindex,nofollow">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<link rel="stylesheet" type="text/css" href="timeout_files/mygovhk_err.css">
	<script type="text/javascript" src="timeout_files/mygovhk_err.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="pageContainer">
			<div class="top-heading">
				<div id="branding" role="banner">
					<div id="mygovhklogo">
						<div class="header-logo-container" title="Edit Address"></div>							
						 <div class="header-title"><span class="header-title-grey">修改</span><span class="header-title-orange">地址</span></div>							
						 <div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="box" id="content" role="main">
				<div>
					<h1 class="lite-title">錯誤 / 错误 / Error</h1>
				</div>
				<div>
					<div class="content tc">
						<p>系統發生錯誤，請關閉所有瀏覽器，然後重試。</p>
					</div>
					<div class="content sc">
						<p>系统发生错误，请关闭所有浏览器，然后重试。</p>
					</div>
					<div class="content en">
						<p>An unexpected system error occurred. Please close all browser(s) and try again.</p>
					</div>
				</div>
			</div>
			<div id="footerbox" role="contentinfo" >
				<div class="hr"></div>
				<!--div id="w3">
					<a href="http://m.www.gov.hk/mobile/en/external.htm?url=http%3A%2F%2Fwww.w3.org%2FWAI%2FWCAG2AA-Conformance" rel="external" target="_blank">
						<img src="/webapp.icons/wcag2aa.gif" alt="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.0" title="Explanation of WCAG 2.0 Level Double-A Conformance"></a>
				</div>
				<div id="brandhk">
					<a href="http://m.www.gov.hk/mobile/en/external.htm?url=http%3A%2F%2Fwww.brandhk.gov.hk%2F" rel="external" title="Brand Hong Kong" target="_blank">
						<img src="/webapp.icons/brandhk.gif" alt="Brand Hong Kong" title="Brand Hong Kong"></a>
				</div-->

			</div><!-- /footer -->
		</div><!-- END pageContainer -->
	</div><!-- END wrapper -->
</body>
</html>
